{% extends "base.html" %}
{% load utils %}
{%block section%}{{ project.name }}{%endblock%}
{%block nav_item_projects %} {% endblock %}
{%block nav_item_bio %}  {% endblock %}
{%block nav_item_skills%} {% endblock %}
{%block nav_item_contact %} {% endblock %}

{% block carousel %}{%endblock%}
{% block main_content%}

{% if project %}
	<h2 class="lead">{{ project.name }}</h2>
    <p class="lead">
      {% autoescape off %}
    	{{ project.description }}
	    {% endautoescape %}
	  </p>

    {% for d in details %}
      <img src="{{ d.main_image_url}}" class="img-responsive"/>
      <p class="lead">{{ d.caption }}</p>
    {% endfor %}

{% else %}
      <div class="container-centered">
        <p class="lead">It seems there isn't information for this project.</p>
        <p class="lead">Let Alistair know about this.</p>
      </div>
{% endif %}
    
{% endblock %}