{% extends "base.html" %}
{% load utils %}

{%block section%}Work{%endblock%}
{%block nav_item_projects %} "active circle red" {% endblock %}
{%block nav_item_bio %} {% endblock %}
{%block nav_item_skills%} {% endblock %}
{%block nav_item_contact %} {% endblock %}

{% block main_content %}

{% if projects %}
    <div id="filters" class="btn-group">
      {% for f in filters %}
         <button type="button" data-filter='["{{f.key}}"]' class="btn btn-default">{{ f.name }}</button>
      {% endfor %}
    </div>

    <div id="main" role="main">
      <ul id="tiles">
        {% for p in projects %}
        <li data-filter-class='["{{p.category.key}}"]'>
          <img src="{{ p.main_image_url}}" href= "/project/{{p.name|remove:' '}}"/>
          <p>{{p.category}}</p>
          <p>{{p.name}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
<!-- Include the imagesLoaded plug-in -->
  <script src="{{ STATIC_URL}}js/jquery.imagesloaded.js"></script>
  <!-- Include the plug-in -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.wookmark.js"></script>
  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        // Prepare layout options.
        var options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 2// Optional, the distance between grid items
         };

        // Get a reference to your grid items.
        var handler = $('#tiles li'),
            filters = $('#filters button');

        // Call the layout function.
        handler.wookmark(options);

        /**
         * When a filter is clicked, toggle it's active state and refresh.
         */
        var onClickFilter = function(event) {
          var item = $(event.currentTarget),
              activeFilters = [];

          if (!item.hasClass('active')) {
            filters.removeClass('active');
          }
          item.toggleClass('active');

          // Filter by the currently selected filter
          if (item.hasClass('active')) {
            activeFilters.push(item.data('filter'));
          }

          handler.wookmarkInstance.filter(activeFilters);
        }

        // Capture filter click events.
        filters.click(onClickFilter);
      });
    })(jQuery);
  </script>

{% else %}
      <h1>Alistair doesn't have any project in his portfolio. Maybe he is working in a *secret* one.</h1>
      <p class="lead">Give him a call.</p>
{% endif %}
{% endblock %}



